<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factorial HR — RICE calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  </head>
  <body>
    <div id="app">
      <div class="score-area">

        <div class="question question-first">
          <div class="question-title font">To what user group does this task affect?</div>
          <div class="question-answer">
            <select v-on:change="computeScore" v-model="group">
              <option value="0.9" v-bind:value="{ number: 0.9 }">HR users</option>
              <option value="1.1" v-bind:value="{ number: 1.1 }">Benefits users</option>
              <option value="1.5" v-bind:value="{ number: 1.5 }">Payroll users</option>
              <option value="0.8" v-bind:value="{ number: 0.8 }">Visitors</option>
              <option value="1" v-bind:value="{ number: 1 }">Factorial team</option>
              <option value="1.6" v-bind:value="{ number: 1.6 }">Operations</option>
            </select>
          </div>
        </div>
        <div class="question question-second">
          <div class="question-title font">To how many users in this group does this task affect?</div>
          <div class="question-answer">
            <select v-on:change="computeScore" v-model="reach">
              <option value="100" v-bind:value="{ number: 100 }">All of them</option>
              <option value="70" v-bind:value="{ number: 70 }">Most of them</option>
              <option value="30" v-bind:value="{ number: 30 }">Some of them</option>
              <option value="10" v-bind:value="{ number: 10 }">Only a few</option>
            </select>
          </div>
        </div>
        <div class="question question-third">
          <div class="question-title font">When would it be acceptable to have this task solved?</div>
          <div class="question-answer">
            <select v-on:change="computeScore" v-model="impact">
              <option value="3" v-bind:value="{ number: 3 }">Tomorrow</option>
              <option value="2" v-bind:value="{ number: 2 }">This week</option>
              <option value="1" v-bind:value="{ number: 1 }">This month</option>
              <option value="0.5" v-bind:value="{ number: 0.5 }">Eventually</option>
            </select>
          </div>
        </div>
        <div class="question question-fourth">
          <div class="question-title font">How sure are you that these responses are correct?</div>
          <div class="question-answer">
            <select v-on:change="computeScore" v-model="confidence">
              <option value="10" v-bind:value="{ number: 10 }">Extremely sure</option>
              <option value="8" v-bind:value="{ number: 8 }">Very sure</option>
              <option value="6" v-bind:value="{ number: 6 }">Mostly sure</option>
              <option value="0" v-bind:value="{ number: 0 }">Not sure at all</option>
            </select>
          </div>
        </div>

        <div class="score-data">
          <div class="score-logo"></div>
          <div class="score font">{{ score }}</div>
          <div class="score-legend font">Score</div>
        </div>

        <div class="circle circle-larger pulsate"></div>
        <div class="circle circle-dots rotate-left"></div>
        <div class="circle circle-dashes rotate-right"></div>
        <div class="circle circle-small"></div>
        <div class="circle circle-smaller zoom"></div>

      </div>
    </div>
    <script src="assets/js/main.js"></script>
  </body>
</html>